/************ TAG SELECTORS ************/

body {
  font-family: "ubuntu", sans-serif;
  text-align: center;
  font-weight: 300;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
}

/*********** CLASS SELECTORS ***********/

/**************** COLORS ***************/
/*
.colors {
  /*PALETTE*/
/*
  background-color: #f72684;
  background-color: #7209b7;
  background-color: #3a0ca3;
  background-color: #4361ee;
  background-color: #4cc9f0;
  */

/* SHADES */
/*
  background-color: #f72684;
  background-color: #fed8e9;
  background-color: #4f0325;

  background-color: #7209b7;
  background-color: #eed8fd;
  background-color: #30044e;

  background-color: #3a0ca3;
  background-color: #e4d9fc;
  background-color: #1b064c;

  background-color: #4361ee;
  background-color: #dae0fc;
  background-color: #07134b;

  background-color: #4cc9f0;
  background-color: #d9f4fc;
  background-color: #063b4b;

  background-color: #ecf9fd;
  background-color: #aac8c1;
  background-color: #6d7a96;
  background-color: #4d576b;
  background-color: #56435e;
  background-color: #2a2827;
  */
/*}
*/
/*********** GENERAL CLASSES ************/

.container-fluid {
  padding: 10% 12% 17%;
}

.download-button {
  font-size: 1.25rem;
  font-weight: 500;
  margin: 5% 3% 5% 0;
}

.section-heading {
  font-size: 3rem;
  line-height: 1.5;
}

.navbar {
  background-color: #1b064c;
  color: #feebf4;
  width: 100%;
}

.title-section {
  background-color: #fff;
  color: #1b064c;
}

.colored-section {
  background-color: #1b064c;
  color: #f72684;
}

.white-section {
  background-color: #fff;
}

.placeholder {
  height: 1em;
  width: 3em;
}

/*********** NAVBAR SECTION *************/

.navbar {
  padding: 1% 3% 0;
}

.top-nav {
  flex: 35;
  margin-left: 25px;
  margin-right: 25px;
}

/************ TITLE SECTION *************/

.brand-text {
  font-size: 2rem;
  font-weight: 400;
  font-family: "Ubuntu", sans-serif;
}

.web-code {
  color: #f72684;
  background-color: #1b064c;
}

.navitem {
  padding: 0 18px;
  color: #f72684;
}

.nav-link {
  font-size: 1.25rem;
  font-weight: 300;
}

.title-image {
  width: 30%;
  position: absolute;
  right: 15%;
}

.big-heading {
  font-size: 3.5rem;
  line-height: 1.5;
}

.sub-heading {
  font-size: 2.5rem;
  line-height: 1;
}

.sub-heading-list {
  font-size: 2 rem;
  line-height: 1;
  font-weight: 300;
}

#title .container-fluid {
  padding: 3% 15% 7%;
  text-align: left;
}

/************ ICON SECTION **************/

.iconsec-fluid {
  padding: 10% 15%;
}

.icon-container {
  position: relative;
}

.icon-sec2 {
  font-size: 6rem;
  color: #f72684;
  padding-top: 20px;
  padding-bottom: 20px;
}

.icon-sec2:hover {
  color: #fff;
}

.text-sec2 {
  padding: 70px 1.5% 50px 1.5%;
}

.text-pink {
  color: #f72684;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card-body-blue {
  background-color: #1b064c;
}

.card-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
}

.edu-logo {
  max-height: 30px;
}

.work-logo {
  max-height: 30px;
}

.card-body-white {
  background-color: white;
  color: #1b064c;
}

/********* CAROUSEL SECTION *********/

.testimonial-image {
  border-radius: 100%;
  width: 150px;
}

.testimonial-text {
  font-size: 3rem;
  line-height: 1.5;
}

.press {
  padding-bottom: 3%;
}

.reference-img {
  width: 13%;
  padding: 20px 10px 50px;
}
/*********** PROJECTS SECTION ************/

.projects {
  padding: 3% 15%;
}

.projects-intro {
  color: #f72684;
  border: solid 1px white;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card-footer {
  background-color: #eceffd;
  color: #1b064c;
  padding-bottom: 40px;
}

.project-cards {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 5px;
}

.card-title-logo-1 {
  max-height: 50px;
  padding-bottom: 15px;
  padding-top: 5px;
}

.card-title-logo-light-1 {
  max-height: 70px;
  padding-bottom: 15px;
  padding-top: 5px;
}

.card-title-logo-2 {
  max-height: 50px;
  padding-bottom: 10px;
}

.card-title-logo-light-2 {
  max-height: 70px;
  padding-bottom: 10px;
}

.card-subtitle {
  color: #7209b7;
}

.card a {
  color: #f72684;
}

/*********** PROJECT SECTION ************/

.card-body {
  background-color: black;
}

.cardheader-darkblue {
  background-color: #1b064c;
}

.carousel-small {
  max-width: 700px;
  margin: 0 auto;
  padding-bottom: 15px;
}

.btn-margin-top {
  margin-top: 30px;
}

/************* CTA SECTION **************/

.cta-link {
  color: #f72684;
}

.cta-link:hover {
  color: #fff;
  text-decoration: none;
}

.icon-sec3 {
  font-size: 6rem;
  color: #f72684;
  padding-top: 20px;
  padding-bottom: 20px;
}

/*********** FOOTER SECTION *************/

.double-size-icon {
  width: 3%;
}

#footer {
  padding-bottom: 0;
}

#footer .cta-fluid {
  padding: 5% 5% 1%;
}

.social-buttons {
  color: #1b064c;
}

.social-buttons:active {
  color: #3a0ca3;
}

.social-buttons:hover {
  color: #f72684;
}

/************ ID SELECTORS *************/

@media (max-width: 1028px) {
  .title {
    text-align: center;
  }

  .title-image {
    position: static;
    width: 50%;
  }

  .card-grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  a {
    font-size: 2rem;
  }

  .double-size-icon {
    font-size: 3rem;
    width: 10%;
  }
}
