/**** ELEMENT SELECTORS ****/
a {
  color: #304f50;
}

* {
  box-sizing: border-box;
}

body {
  font-family: 'Lexend', sans-serif;
  font-weight: 300;
  font-size: 1rem;
  background-color: #f2f2f2;
  color: #304f50;
  line-height: 1.8;
}

nav {
  text-align: right;
}

header, main, footer, div {
  text-align: center;
}

h1 {
  font-size: 24px;
  text-align: center;
}

a {
  color: #008b8b;
  text-decoration: none;
}

a:hover {
  color: #00ff7f;
  text-decoration: none;
  cursor: pointer;
}

a:active {
  color: #00ff7f;
  text-decoration: none;
}

a:visited {
  color: #6495ed;
}

/**** CLASS SELECTORS ****/
.container {
  min-height: 87vh;
  max-width: 1100px;
  margin: 0 auto;
  background-color: #d0d0d0;
  background-color: rgba(255, 255, 255, 0.8);
}

.skills-table {
  margin: 0 auto;
}

.examplecode {
  background-color: #000;
  color: lightgreen;
}

/*** HEADER SECTION ***/
.page-header {
  display: flex;
  padding: 20px;
  background-color: #303036;
  color: #d3d3d3;
}

.page-header__item {
  flex: 0 1 150px;
}

.page-header__item:last-child {
  text-align: right;
  flex-grow: 1;
}

.navigation-list {
  list-style-type: none;
  margin-top: 10px;
}

.navigation-list li {
  display: inline-block;
  margin: 5px 10px 0 10px;
}

.logo {
  height: 65px;
  margin-top: 3px;
}

/*** PROFILE SECTION ***/
.profile {
  max-width: 700px;
  margin: 15% auto;
}

.profile__portrait {
  float: left;
  margin-right: 40px;
}

.profile__heading {
  font-family: Spartan, sans-serif, monospace;
  font-weight: 300;
  font-size: 30px;
}

.profile__heading-bold {
  font-weight: 500;
}

.profile__description {
  text-align: left;
  padding-bottom: 10rem;
}

/*** CONTACT FORM ***/
.contact__table {
  clear: both;
  margin: 0 auto;
}

.contact__submit-button {
  background-color: #008b8b;
  color: #fff;
  border: 1px solid white;
  border-radius: 10px;
  padding: 0.5em;
  font-size: 16px;
}

.contact__submit-button:hover {
  opacity: 0.8;
  cursor: pointer;
  transition-duration: 0.4s;
}

.your_message {
  max-width: 174px;
}

/*** WORK EXPERIENCE ***/
.grid {
  justify-content: center;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 300px 300px;
  width: 90%;
  margin: 0 auto;
}

/*** FOOTER SECTION ***/
.page_footer_absolute {
  position: absolute;
  margin: 0 auto;
  line-height: 1.2;
  left: 0;
  right: 0;
  max-width: 1100px;
  background-color: #303036;
  color: #d3d3d3;
}

.page_footer_relative {
  margin: 0 auto;
  bottom: 0;
  line-height: 1.2;
  max-height: 125px;
  background-color: #303036;
  color: #d3d3d3;
}

.social_media {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.footer__social-icons {
  padding: 0.25em;
}

  path {
    fill: white;
  }


/*** MEDIA QUERIES ***/
@media all and (max-width: 500px) {
  .grid {
    grid-template-columns: 1fr;
    grid-gap: 10px;
  }

  .grid__item:last-child {
    grid-column: auto / auto;
    grid-row: auto / auto;
  }

  h1 {
    font-size: 22px;
  }
}

@media all and (min-width: 500px) and (max-width: 750px) {
  .grid {
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
  }

  .grid__item:last-child {
    grid-column: auto / auto;
    grid-row: auto / auto;
  }

  h1 {
    font-size: 22px;
  }
}

/*** ANIMATIONS ***/
@keyframes color-change-2 {
  from {
    fill: #EDC655;
  }

  to {
    fill: #0000cc;
  }
}

@keyframes color-change {
  from {
    fill: #D64A4A;
  }

  to {
    fill: #4d004d;
  }
}

@keyframes cloud-move {
  from {
    transform: translate(0, 50px);
  }

  to {
    transform: translate(200px, 50px);
  }
}

@keyframes cloud-move-2 {
  from {
    transform: translate(500px, 20px);
  }

  to {
    transform: translate(300px, 20px);
  }
}

.sun {
  animation-duration: 7s;
  animation-name: color-change;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
}

.sun-beam {
  animation-duration: 7s;
  animation-name: color-change;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
}

.yellowish-beam {
  animation-duration: 7s;
  animation-name: color-change-2;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
}

.cloud-front {
  animation-duration: 28s;
  animation-name: cloud-move;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
}

.cloud-back {
  animation-duration: 35s;
  animation-name: cloud-move-2;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
}
